main{
    display: flex;
    width: 100%;
    height: 700px;
    background: rgb(0,156,184);
    background: linear-gradient(47deg, rgba(0,156,184,1) 0%, rgba(0,156,184,1) 77%, rgba(0,255,204,1) 100%);
    transform: translateY(78px);
}

.fundo-cursos{
    display: none;
}

.fundo-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
#imagem-principal{
    width:460px;
}





.fundo-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 25px;
    padding: 10px;
}

.fundo-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}
#texto-curso-principal{
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin: 0px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}
#texto-curso-segundario{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 35px;
    margin: 0px;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
    background-color: #024A56;
    transition: 0.8s;
    cursor: pointer;
}
#texto-curso-segundario:hover{
    font-weight: bold;
    background-color: #00FDFF;
}

.fundo-modulos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    width: 90%;
    height: 200px;
    transform: translateY(-70px);
}
#bloco-modulo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 24%;
    height: 110px;
    background-color:#024A56;
    border: 8px solid #35E0FF;
    border-end-end-radius: 28%;
    margin-left:25px;
    transform: translateX(800px);
    transition: 0.8s;
    animation: aparecer;
    animation-duration: 2s ;
    animation-fill-mode: forwards;
    cursor: pointer;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}
#bloco-modulo:hover{
    margin-top:-40px;
    border: 8px solid #00ffcc;
}
@keyframes aparecer {
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: scale(0.9);
    }
    
}
#bloco-cima{
    width: 100%;
    height: 30%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#icone-modulo{
    width: 30px;
    height: 30px;
}

#titulo-curso{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
#comece-titulo{
    font-size: 17px;
    color: white;
}














