@media (max-width:700px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    header{
        display: flex;
        justify-content: space-evenly;
    }
    .fundo-header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .fundo-menumob{
        display: flex;
        padding: 10px;
    }
    #icone-menumob,#icone-personmob{
        font-size: 32px;
        color: white;
        font-weight: bold;
    }
    .fundo-logomob{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    #logomob{
        width: 70%;
        animation-fill-mode:backwards;
        animation: giro 5s infinite;
    }
    @keyframes giro {
        50%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(360deg);
        }
        
    }
    .fundo-personmob{
        display: flex;
        padding: 10px;
    }

}
